button:hover {
    background-color: green;
}
.success {
    background-color: green;
    color: white;
    border: 1px solid black;
}
.error {
    background-color: orange;
    color: black;
    border: 1px solid black;
}
